<!-- <nav class="navbar navbar-expand-lg navbar-light bg-success">
  <img src="finteachlogo.png" class="navbar-brand">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div float="right" id="navbarSupportedContent">
    <ul margin-left="auto"
    margin-right="0" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:white" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
      <a style="margin-left: 20px;  font-weight:bold"class="navbar-brand d-none d-lg-inline-block" href="#">
          FinTeach
      </a>
      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
          <img src="//via.placeholder.com/40?text=LOGO" alt="logo">
      </a>
      <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
  <div class="collapse navbar-collapse justify-content-end flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
              <a style="font-weight:bold" routerLink="/modules" class="nav-link m-2 menu-item nav-active">Modules</a>
          </li>
          <li class="nav-item">
              <a style="font-weight:bold" routerLink="/terms" class="nav-link m-2 menu-item">Terms</a>
          </li>
          <li class="nav-item">
              <a style="font-weight:bold" routerLink="/dashboard" class="nav-link m-2 menu-item">Dashboard</a>
          </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <svg class="bi" width="32" height="32" fill="currentColor">
        <use xlink:href="bootstrap-icons.svg#heart-fill"/>
      </svg>
  </div>
</nav>
