<div class="container">
  <h1>Dashboard</h1>
  <div class="row">
    <h3>Modules in Progress</h3>
    <div style="width:1000px; height:200px;border-style: solid;">
      <!-- <gallery></gallery>  add gallery features-->
    </div>
  </div>
  <div class="row">
    <h3>Completed Modules</h3>
    <div style="width:1000px; height:200px;border-style: solid;">
      <!-- <gallery></gallery>  add gallery features-->
    </div>
  </div>
  <div class="row">
    <h3>Recommended Modules</h3>
    <div style="width:1000px; height:200px;border-style: solid;">
      <!-- <gallery></gallery>  add gallery features-->
    </div>
  </div>
</div>
