<div class="container">
  <div class="row">
    <div class="col-3">
      <submoduleprogress [module_id]="module_id" [current_submodule]="current_submodule"></submoduleprogress>
    </div>
    <div class="col-9" *ngIf="submodules;">
      <div class="row">
        <h1>{{ submodules[current_submodule].title }}</h1>
        <p>{{ submodules[current_submodule].description }}</p>
      </div>
      <div class="row">
        <div *ngIf="submodules[current_submodule].type == 'c'">
          <ul>
             <li *ngFor="let contentfield of current_content_field;">
                <h3>{{ contentfield.subtitle }}</h3>
                <p>{{ contentfield.material }}</p>
             </li>
          </ul>
        </div>
        <div *ngIf="submodules[current_submodule].type == 'q'">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div *ngFor="let quiz of current_quiz; let i = index;">
               <p>{{ quiz.question }}</p>
               <div *ngIf="current_quiz_options;">
                 <div *ngFor="let quiz_option of current_quiz_options[i]">
                   <input type="radio" id="{{ quiz_option.id }}" name="{{ quiz.id }}_quiz" value="{{ quiz_option.id }}" ngModel>
                   <label for="{{ quiz_option.id }}">{{ quiz_option.content }}</label><br>
                 </div>
               </div>
            </div>
            <button>Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button (click)="moveSubmodule(-1)" [disabled]="noPrevious" type="button" class="button btn btn-primary">Previous</button>
        </div>
        <div class="col" *ngIf="showDone == false">
          <button (click)="moveSubmodule(1)" type="button" class="button btn btn-primary">Next</button>
        </div>
        <div class="col" *ngIf="showDone == true">
          <button (click)="progressContinue(module_progress.id, current_submodule + 1, true)" [routerLink]="['/dashboard']" type="button" class="button btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
