<div class="container">
  <div class="row">
    <div class="col">
      <submoduleprogress [module_id]="module_id" [current_submodule]="current_submodule"></submoduleprogress>
    </div>
    <div class="col-8">
      <div>
        <h1>{{ submodules[current_submodule].title }}</h1>
        <p>{{ submodules[current_submodule].description }}</p>
      </div>
      <div>
        <div *ngIf="submodules[current_submodule].type == 'c'">
          <div>
             <div *ngFor="let contentfield of current_content_field;">
                <div *ngIf="contentfield.subtitle">
                  <h2>{{ contentfield.subtitle }}</h2>
                </div>
                <p>{{ contentfield.material }}</p>
             </div>
            </div>
        </div>
        <div *ngIf="submodules[current_submodule].type == 'q'">
          <ul>
             <li *ngFor="let quiz of current_quiz;">
                <p>{{ quiz.question }}</p>
             </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button (click)="moveSubmodule(-1)" [disabled]="noPrevious" type="button" class="button btn btn-primary">Previous</button>
        </div>
        <div class="col" *ngIf="showDone == false">
          <button (click)="moveSubmodule(1)" type="button" class="button btn btn-primary">Next</button>
        </div>
        <div class="col" *ngIf="showDone == true">
          <button (click)="progressContinue(module_progress.id, current_submodule + 1, true)" [routerLink]="['/dashboard']" type="button" class="button btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
