<div class="container">
  <div class="row">
    <h1>{{ submodules[current_submodule].title }}</h1>
    <p>{{ submodules[current_submodule].description }}</p>
  </div>
  <div class="row">
    <div *ngIf="submodules[current_submodule].type == 'c'">
      <ul>
         <li *ngFor="let contentfield of current_content_field;">
            <h2>{{ contentfield.subtitle }}</h2>
            <p>{{ contentfield.material }}</p>
         </li>
      </ul>
    </div>
    <div *ngIf="submodules[current_submodule].type == 'q'">
      <ul>
         <li *ngFor="let quiz of current_quiz;">
            <p>{{ quiz.question }}</p>
         </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="moveSubmodule(-1)" [disabled]="noPrevious" type="button" class="btn btn-primary">Previous</button>
    </div>
    <div class="col" *ngIf="showDone == false">
      <button (click)="moveSubmodule(1)" type="button" class="btn btn-primary">Next</button>
    </div>
    <div class="col" *ngIf="showDone == true">
      <button (click)="progressContinue(module_progress.id, current_submodule + 1, true)" [routerLink]="['/dashboard']" type="button" class="btn btn-primary">Done</button>
    </div>
  </div>
</div>
